<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SourceRedisHost" value="arkprodredis"/>
    <add key="TargetRedisHost" value="arkredisprod"/>

    <!--<add key="SourceRedisHost" value="bevredistest"/>
    <add key="TargetRedisHost" value="bevredispreprod"/>-->

    <add key="SourceRedisPort" value="6379"/>
    <add key="TargetRedisPort" value="6379"/>

    <add key="SourceRedisDb" value="6"/>
    <add key="TargetRedisDb" value="6"/>

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>